*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --bg-color:#292918;
    --text-color:#fff;
    --main-color:#11343e;
}
body{
    background-color: var(--main-color);
}
.header{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 1000;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li{
    margin:14px 0;
    padding:5px;
}
.navbar ul li a{
    text-decoration: none;
    font-weight: 530;
    font-size: 18px;
    color:var(--text-color);
    transition: 0.5s ease;
    margin-right: 6px;
    letter-spacing: 1px;
}
.navbar .active ,.navbar ul li a:hover{
    color: var(--main-color);
}
.logo{
    color:var(--text-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 25px;
}
#menu-icon{
    color:var(--text-color);
    font-size: 40px;
    display: none;
}

.home{
    min-height: 100vh;
    position: relative;
    display: flex;
    transition: 0.5s ease;
    align-items: center;
    justify-content: center;
    padding:0 10%;
}
.home-text{
    text-align: center;
    color:var(--text-color);
    line-height: 30px;

}
.heading{
    text-align: center;
    margin-bottom: 33px;
    margin-top: 32px;
    color:wheat;
    text-align: center;
    margin-bottom: 32px;
}
.home-text h1{
    margin-bottom: 12px;
    font-size: 33px;
}
span{
    color:rgb(109, 88, 214);
    cursor: pointer;
}
span:hover{
    opacity: .3;
    color:white;
}
.home-text p{
   width: 95%;
}
.home-img img{
    width: 100%;
    border-radius: 23px;
}
.btn{
    text-decoration: none;
    font-size: 22px;
    border:1px solid rgb(124, 124, 137);
    border-radius: 10px;
    background-color: var(--text-color);
    padding:6px 20px;
    line-height: 4;  
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2); 
}
.btn:hover{
    color:white;
    background-color: red;
    outline: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2); 
    border: none;
}
.social i{
    color:white;
    font-size: 32px;
    padding:6px;
    transition: 0.5 ease;
    border-radius: 13px;
    box-shadow: 0 0 10px var(--bg-color);
}
.social i:hover{
    color:white;
    font-size: 32px;
    padding:4px;
    box-shadow: 0 0 10px yellow;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:0 10%;
    text-align: center;
    background-color: var(--bg-color);
    margin-bottom: 42px;
}
.about-img img{
    width:100%
}
.about-text p{
    line-height: 29px;
    color: var(--text-color);
    max-width: 440px;

}

.services{
    background-color: var(--bg-color);
    padding:40px 10%;
}



.servies-container{
    display: flex;
    gap:18px;
    align-items: center;
    justify-content: center;
}
.services-box{
    text-align: center;
    border-radius: 10px;
    background-color: var(--main-color);
    margin: 10px;
    padding:15px;
    transition: 0.5s ease;
    transform: translateY(5%)

}
.services-box h1{
    color:var(--text-color);
    line-height: 3;
}
.services-box p{
    font-size: 17px;
}
.services i{
    color:white;
    font-size: 40px;
}
.services-box:hover{
    border: 1px solid var(--bg-color);
    transform: translateY(-4%);
}

.skill{
   background-color: var(--main-color);
   padding:40px 10%;
}
.skill-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-1{
    color:var(--text-color);
}
.text-1 h1{
    line-height: 3;

}
.text-1 h3{
    line-height: 3;
    font-weight: bold;

}
.text-1 h3:nth-child(n):after{
    content: '80%';
    padding:10px;
    color:brown;

}

.contuct{
    background-color: var(--bg-color);
    padding:32px 11% ;

}
.input-box{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btns{
    text-align: center;
}
input,textarea{
    width: 100%;
   margin: auto;
    border: 2px solid var(--main-color);
    padding:10px;
    margin:7px;
    border-radius: 14px;
    outline: none;
    resize: none;
    text-align: center;
}
.input-box .btn{
   margin:30px;
}


.footer{
    padding:13px 10%;
}
.footer1{
    text-align: center;
    color:var(--text-color);
    margin-top: 10px;
}
.icon i{
    position: absolute;
    right:10px;
    color:var(--text-color);
    background-color:blue;
    padding:14px;
    margin-bottom: 20px;

}

@media screen and (max-width:780px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        width: 100%;
        left:0;
        background-color:var(--bg-color);

    }
    .navbar ul{
        display: block;
    }
    .navbar ul li a{
        color:var(--text-color);
        text-align: center;
        font-size: 17px;
        display: none;
        
    }
    .navbar.active ul li a{
        display: block;
    }
    .header{
        padding-top: 32px;
    }
}